html {
    scroll-behavior: smooth;
}

.md\:overflow-y-auto {
    overflow-y: auto;
}

.md\:overflow-y-auto::-webkit-scrollbar {
    width: 4px;
}

.md\:overflow-y-auto::-webkit-scrollbar-thumb {
    /* background-color: #cabde4; Deep purple */
    border-radius: 10px;
}

.md\:overflow-y-auto::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Light gray */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
